body {
    max-width: 90%;
    margin: 50px auto;
    box-shadow: 3px 3px 5px rgba(71, 71, 71, .3);
    border-radius: 5px;
}

.illustr, .design {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 25px;
    border: 0px;
    background-color: rgb(60, 223, 223);
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

 .design:hover {
     box-shadow: 2px 2px 3px rgba(71, 71, 71, .3);
     background-color: rgb(28, 146, 146);
}

.illustr:hover{
    box-shadow: 2px 2px 3px rgba(71, 71, 71, .3);
    background-color: rgb(28, 146, 146);
}
.grid-container {
    border-radius: 5px;
}

.illustr {
    margin: 0 25px 0 50px;
}

.design {
    margin: 0 50px 0 25px;
}

.grid-container > div {
    background-color: #ffffff;
    }

.photo {
    margin: 20px;
    margin-left: 30%;
    box-shadow: 50px 15px rgb(60, 223, 223);
}

.name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(60, 223, 223);
    font-size: 40px;
    margin: 100px 50px 25px;
    
}

.information {
    font-family: Arial, sans-serif;
    margin: 0 50px 25px;
}

.mail, .phone {
    font-family: Arial, sans-serif;
    font-size: 14px;
   }

.logo {
    height: 20px;
    margin: 20px 0 0 95px;
}

.item1 {
    background-image: url(images/florian-olivo-4hbJ-eymZ1o-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: -150px;
    background-size: 100%;
}

.mail {
    margin: 25px 0 25px 40px ;
}

.phone {
    margin: 25px 0 25px 10px ;
}


